@import '../../theme/variables.scss';

.login-background{
  width: 100%;
  height: 100vh;
}

.movingasone{
  position: absolute;
  top: 2vw;
  right: 2vw;
  width: 10vw;
}

.login-form-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;

  .login-form{
    display: flex;
    flex-direction: column;
    
    .username-label{
      margin-top: 1.5vw;
      color: #a8a1a1;
      font-weight: bold;
      font-size: 0.8vw;
    }

    .username-input{
      margin-top: 0.5vw;
      width: 30vw;
      padding-bottom: 0.5vw;
    }

    .password-label{
      margin-top: 1.5vw;
      color: #a8a1a1;
      font-weight: bold;
      font-size: 0.8vw;
    }

    .password-input{
      margin-top: 0.5vw;
      padding-bottom: 0.5vw;
      width: 30vw;
    }

    .btn-login{
      margin-top: 2vw;
      border-radius: 2vw;
      width: 12vw;
      text-transform: none;
      background-color: map-get($colors, primary);
      transition: ease;
      transition-duration: 0.5s;
    }

    .btn-login:hover {
      background-color: map-get($colors, primary-dark);
    }

    .btn-login-disabled{
      margin-top: 2vw;
      border-radius: 2vw;
      width: 12vw;
      text-transform: none;
      opacity: 0.6;
      color: black;
      background-color: map-get($colors, primary);
    }

    .arrow-icon{
      color: black;
      font-size: 1vw;
    }
  }
}